table {
  width: 100%;
}
.bold {
  font-weight: bold;
}
td.cell-field-name {
  text-align: left;
}
td.cell-field-count {
  text-align: center;
}
table caption {
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
}
.user-tracker-field .tracker-field-label {
  font-weight: bold;
}
.user-tracker-field .tracker-field-data {
  margin-bottom: 10px;
}